body {
    padding-top: 100px;
}

.container-content {
    overflow: auto;
    height: calc(100vh - 15%);
}

.form-control {
    border-radius: 0;
    border: 1px solid #DDD;
    box-shadow: none;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    overflow: hidden;
    
    &::before {
        content: ' ';
        display: block;
        position: absolute;
        background-image: url('../public/images/background.jpeg');
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px);
        z-index: -1;
        transform: scale(1.1);
    }
    
    .toolbar-overlay {
        background: rgba(0, 0, 0, 0.3);
    }

    .toolbar-search {
        width: 200px;
        position: absolute;
        right: 10px;
        top: 40px;

        .form-control {
            color: #222;
            border: 1px solid #FFF;
            background: rgba(255, 255, 255, 0.8);
            transition: background 0.5s;

            &:focus,
            &:active {
                box-shadow: none;
                background: #FFF;
            }
        }

    }

    .toolbar-draggable {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 85px;
        -webkit-app-region: drag;
    }
}

.title {
    font-size: 24px;
    text-shadow: none;
    font-weight: 300;
    color: #FFF;
    padding: 0 15px;
    line-height: 85px;
    font-family: 'Source Sans Pro', sans-serif;
}

.single-font {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #DDD;
    position: relative;

    h4 {
        font-size: 28px;
    }

    .btn-download,
    .btn-p {
        position: absolute;
        right: 50px;
        top: 10px;
        color: #545454;
        background: #FFF;
        border-color: #FFF;
        font-size: 18px;
        padding: 0 7px;
    }

    .btn-p {
        right: 10px;
    }

    .single-font__paragraph {
        margin-top: 15px;
    }

    .single-font__category {
        background: #EEE;
        color: #777;
        font-size: 12px;
        padding: 3px 5px;
    }
}

.btn-close {
    width: 16px;
    height: 16px;
    background: orangeRed;
    border: 1px solid orangeRed;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.btn-minimize {
    width: 16px;
    height: 16px;
    background: orange;
    border: 1px solid orange;
    display: block;
    position: absolute;
    right: 35px;
    top: 10px;
    border-radius: 50%;
}